#newBox
#boxes


%br

= link_to 'New Box', new_box_path

:coffeescript
  $ ->
    boxes = new BBBox.Collections.BoxesCollection(#{@boxes.to_json.html_safe})
    boxes.each (box) ->
      view = new BBBox.Views.Boxes.BoxView({box : box})
      $("#boxes").append(view.render().el)
    newBox = new BBBox.Views.Boxes.NewView({boxes : boxes})
    $("#newBox").html(newBox.render().el)
    boxes.on "add", (box) ->
      view = new BBBox.Views.Boxes.BoxView({box : box})
      $("#boxes").append(view.render().el)




